.active {
  background-color: #0099FF;
}

body {
  background-color: #8DC63F;
  padding: 20px;
  margin: 0;
}

#root {
  height: 500px;
}

.App {
  height: 100%;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.header ul {
  background-color: #111;
  padding: 0;
}

footer {
  background-color: #111;
  color: #FFF;
  padding: 10px;
  margin-top: 10px;
}

.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  height: 100%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}